/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
body {
  background-color: grey;
  width: 100%;
}
body .document {
  margin: 0 auto;
  width: 70%;
  background: linear-gradient(45deg, #051b96, transparent), repeating-linear-gradient(45deg, #0076fd 0%, #04cc9a 5%, transparent 5%, transparent 10%, #04cc9a 10%, rgba(4, 204, 154, 0.5) 11%, transparent 11%, transparent 13%), #031bf5 repeating-linear-gradient(-45deg, rgba(0, 118, 253, 0.5) 0%, rgba(4, 204, 154, 0.5) 5%, transparent 5%, transparent 10%);
  display: flex;
  overflow: hidden;
}
@media (max-width: 500px) {
  body .document {
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  body .document {
    width: 100%;
    flex-direction: column;
  }
}
body .document .sidebar {
  width: 15%;
  margin: 10px;
  padding: 10px;
  padding-top: 8%;
  height: 100%;
  color: white;
}
body .document .sidebar .hobbies p {
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 500px) {
  body .document .sidebar {
    width: 100%;
    padding: 1%;
  }
}
@media (max-width: 800px) {
  body .document .sidebar {
    width: 100%;
    padding: 1%;
    margin: 0%;
  }
}
body .document .sidebar h3 {
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
}
body .document .sidebar h4 {
  font-weight: bold;
  margin: 10px;
}
body .document .sidebar p {
  margin: 10px;
  line-height: 15px;
}
body .document .main {
  width: 85%;
  background-color: white;
}
@media (max-width: 500px) {
  body .document .main {
    width: 100%;
  }
}
@media (max-width: 800px) {
  body .document .main {
    width: 100%;
  }
}
body .document .main .header1 {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin: 10px;
}
body .document .main .heading {
  width: 100%;
  text-align: center;
}
body .document .main .heading .full-heading {
  background: linear-gradient(45deg, #051b96, transparent), repeating-linear-gradient(45deg, #0076fd 0%, #04cc9a 5%, transparent 5%, transparent 10%, #04cc9a 10%, rgba(4, 204, 154, 0.5) 11%, transparent 11%, transparent 13%), #031bf5 repeating-linear-gradient(-45deg, rgba(0, 118, 253, 0.5) 0%, rgba(4, 204, 154, 0.5) 5%, transparent 5%, transparent 10%);
  padding: 10px;
  border-bottom: 1px solid #0066ff;
}
body .document .main .heading .full-heading h1 {
  font-size: 35px;
  font-weight: bold;
  color: white;
}
body .document .main .heading .full-heading h2 {
  font-size: 25px;
  font-weight: bold;
  padding: 15px;
  color: white;
}
body .document .main .heading #contact {
  margin: 1%;
}
body .document .main .heading #contact p {
  font-size: 20px;
}
body .document .main .heading #social {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
body .document .main .heading #social p {
  margin: 1%;
}
@media (max-width: 500px) {
  body .document .main .heading #social {
    flex-direction: column;
  }
}
body .document .main #skills .list1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .document .main #skills .list1 li {
  margin: 2%;
}
body .document .main #skills .list2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .document .main #skills .list2 li {
  margin: 2%;
}
body .document .main #skills .list2 .skill-highlights {
  color: #0c54be;
}
body .document .main #skills .header1 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
body .document .main .summary {
  text-align: center;
  font-size: 17px;
}
@media (max-width: 500px) {
  body .document .main .summary {
    width: 93%;
    padding: 10px;
    margin: 0 auto;
  }
}
body .document .main #work {
  line-height: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  body .document .main #work {
    width: 100%;
    flex-direction: column-reverse;
  }
}
body .document .main #work .previous {
  padding: 10px;
  margin: 10px;
  width: 48%;
}
@media (max-width: 500px) {
  body .document .main #work .previous {
    width: 90%;
    text-align: center;
    padding: none;
  }
}
body .document .main #work .previous h3 {
  font-size: 20px;
  margin: 10px;
  font-weight: bold;
}
body .document .main #work .previous h4 {
  font-weight: bold;
  font-size: 18px;
}
body .document .main #work .previous p {
  padding: 5px;
}
body .document .main #work .previous .date {
  font-weight: bold;
}
body .document .main #work .previous .projects {
  border: 3px solid #003cff;
  height: 280px;
  padding: 10px;
  text-align: left;
}
body .document .main #work .previous .projects h2 {
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline;
}
.footer {
  width: 100%;
  text-align: center;
  font-size: 11px;
  color: white;
  background-color: #01015f;
}
